extends layout

block content
    link(rel="stylesheet", href="css/register.css")
    script head.js('')

    main
        .form-container
            form(action="javascript:registerme()")
                label(for="username")
                input(type="text" id="username" name="username" autocomplete="username") 
                input(type="submit", value="Sign up!")